@model IEnumerable<WebCV.Models.Evaluate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container">
    <div class="row">
        <p>
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </p>
        @{
            foreach (var item in Model)
            {
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="~/images/evaluates/@item.Image" class="card-img-top" alt="@item.Content">
                        <div class="card-body">
                            <h5 class="card-title">@item.Content</h5>
                            <a asp-action="Edit" asp-route-id="@item.EvaluateId" class="btn btn-primary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@item.EvaluateId" data-id="@item.EvaluateId" class="btn btn-danger delete-btn">Delete</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
