@model IEnumerable<WebCV.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Error != null)
{
    <script type="text/javascript">
        Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "@ViewBag.Error",
        });
    </script>
}

<div class="container">
    <h1 class="text-center">Những công ty đang hoạt động</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CopmpanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Website)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Information)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CopmpanyName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        <a target="_blank" href="@Html.DisplayFor(modelItem => item.Website)">@Html.DisplayFor(modelItem => item.Website)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hotline)
                    </td>
                    <td>
                        @Html.Raw(item.Information)
                    </td>
                    <td>
                        <img width="200px" src="~/images/companies/@item.Image" />
                    </td>
                    <td>
                        <a class="btn btn-primary" target="_blank" asp-area="" asp-controller="Company" asp-action="Detail" asp-route-id="@item.Link">Chi tiết</a> |
                        <a asp-action="Delete" asp-route-id="@item.CompanyId">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>