@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/login.css" />

</head>
<body>
<div class="signin" >
    <h1 class="signin-heading">Đăng nhập</h1>
        <form method="post" class="signin-form">
            <label asp-for="Input.Email" class="signin-label">Email</label>
        <input asp-for="Input.Email" type="email" id="email" class="signin-input" placeholder="Eg: johndoe@gmai.com">
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <label asp-for="Input.Password" class="signin-label">Mật khẩu</label>
        <input asp-for="Input.Password" type="password" id="password" class="signin-input" placeholder="Eg: *******">
        <span asp-validation-for="Input.Password" class="text-danger"></span>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert" style="color: red"></div>
            <button type="submit" class="signin-submit"  style="text-decoration: none; color: #fff;">Đăng nhập</button>
        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe" class="form-label">
                <input class="form-check-input" asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <div>
            <p>
                <a style="text-decoration: none;padding-left:270px" id="forgot-password" asp-page="./ForgotPassword">Quên mật khẩu?</a>
            </p>
        </div>
    </form>
    <p class="signin-already">
            <a href="~/Identity/Account/Register" class="signin-signup-link">Đăng ký</a>
    </p>
</div>
@*
<script>
    const btnSignin = document.querySelector("#btn-signin");
    const account = document.querySelector("#account")
    btnSignin.onClick(e => {
        e.prevenDefault();
        let check = true;
        const formData = new FormData(account);
        const email = formData.get('email')
            if (email.length == 0) {
                document.getElementById('email-err').innerHTML = 'Please enter email';
                check = false;
            } else {
                document.getElementById('email-err').innerHTML = '';
            }

            if (check == false) {
                return false;
            }
    })
    </script>*@
@* <div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
 *@   @*  <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
