@model IEnumerable<WebCV.Models.Company>

<!-- Companies Listing-->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Your Company</h1>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <div class="tab-content">
                <div class="tab-pane fade show p-0 active">
                    @{
                        foreach (var item in Model)
                        {

                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="~/images/companies/@item.Image" alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3">@item.CopmpanyName</h5>
                                            <span class="text-truncate me-3"><i class="fa fa-address text-primary me-2"></i>@item.Address</span>
                                            <span class="text-truncate me-3"><i class="far fa-map-marker-alt text-primary me-2"></i>@item.Country</span>
                                            <span class="text-truncate me-0"><i class="far fa-phone text-primary me-2"></i>@item.Hotline</span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a class="btn btn-primary" target="_blank" asp-area="" asp-controller="Company" asp-action="Dashboard" asp-route-id="@item.Link">Post a Job</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>