@model IEnumerable<WebCV.Models.Cv>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">CV ID</th>
                <th scope="col">File</th>
                <th scope="col">Template</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.CvId</th>
                    <td><a href="~/images/cvs/@item.File" target="_blank">@item.File</a></td>
                    <td>@item.Template.Title</td>
                    <td>
                        <a class="btn btn-primary" asp-area="" asp-controller="CV" asp-action="EditCV" asp-route-id="@item.CvId">Chỉnh sửa</a>
                        <button class="btn btn-primary" onclick="downloadPDF('@Url.Content("~/images/cvs/" + item.File)');">Tải xuống PDF</button>
                        <a class="btn btn-primary" asp-area="" asp-controller="CV" asp-action="Delete" asp-route-id="@item.CvId">Xóa</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<iframe id="hidden-iframe" width="0" height="0" style="display: none;"></iframe>

@section scripts {
    <script>
        function downloadPDF(path) {
            var iframe = document.getElementById('hidden-iframe');
            iframe.src = path;
            iframe.onload = function () {
                this.contentWindow.print();
            };
        }
    </script>
}
